input.vk_posted,
input.vk_posted:hover{
	background:green;
	color:#fff;
}
input[type="button"].vk_post_action{
	-border:1px solid #f00;
}
input[type="button"].vk_post_action:hover{
	-border:1px solid #00008b;
}
.vk_post_result{
	display:none;
	float:none;
	clear:both;
	background:#008b00;
	color:#fff;
	padding:4px 10px;
	border-radius:3px;
	margin: 0 5px 3px 0;
}
